<?xml version="1.0" encoding="UTF-8"?>


<launch>
  <arg name="robot_name"  default="boat_arm"/>
  <arg name="init_x_pos" default="0.0"/>
  <arg name="init_y_pos" default="0.0"/>
  <arg name="init_z_pos" default="0.15"/>
  <arg name="init_yaw"   default="0.0"/>

  <param name="robot_description" command="$(find xacro)/xacro $(find semesterprosjekt)/urdf/boat_arm.xacro" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-urdf -model $(arg robot_name) -x $(arg init_x_pos) -y $(arg init_y_pos) -z $(arg init_z_pos) -Y $(arg init_yaw) -param robot_description" />

<!-- CONTROLLER -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="100.0" />
        <param name="tf_prefix" value="boat_arm" />
      </node>

      <rosparam file="$(find semesterprosjekt)/config/joint_controller.yaml" command="load"/>

      <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="boat_arm"
        args="joint_state_controller controller_base_arm controller_joint_1 controller_joint_2 controller_joint_3 controller_joint_4 controller_joint_5 controller_joint_6" />
</launch>
