<?xml version='1.0'?>

<robot name="mycat" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name='chassis'>
    <pose>0 0 0.1 0 0 0</pose>
    <visual name='chassis_visual'>
      <origin xyz="0 0 -0.1" rpy=" 0 0 0"/>
      <geometry>
        <mesh filename="package://garbage_boat/meshes/RobotBatPOrsjekt_v0.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>

    <visual name='caster_visual'>
  <origin xyz="2 0 0.5" rpy=" 0 0 0"/>
  <geometry>
    <sphere radius="1.0"/>
  </geometry>
</visual>

</link>
</robot>
