<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="record" default="false"/>
    <arg name="use_ned_frame" default="false"/>

  <include file="$(find usv_worlds)/launch/ocean_waves.launch"/>

<!--
    <include file="$(find uuv_descriptions)/launch/upload_rexrov.launch">
        <arg name="x" default="0/>
        <arg name="y" default="0"/>
        <arg name="z" default="0/>
        <arg name="yaw" default="0"/>
        <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    </include>
-->

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find garbage_boat)/urdf/garbage_boat_gazebo.xacro'"/>
  <remap from="/joint_states" to="/myrobot/joint_states" />

<!--
  <arg name="world" default="empty"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>


 <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find uuv_simulator-master)/uuv_gazebo_worlds/worlds"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
-->

  <node name="myrobot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param robot_description -model myrobot -robot_namespace myrobot" />

</launch>
